body {
    background-color: lightslategray;
}

main {
    position: relative;
    margin: 0 auto;
    max-width: 1040px;
}

form div {
    padding-top: 5px;
    padding-bottom: 6px;
}

form span {
    padding-right: 16px;
}

main form {
    width: 590px;
}

input[type='number'].two {
    width: 32px;
}

input[type='number'].three {
    width: 40px;
}

input[type='number'].four {
    width: 48px;
}

input[type='number'].five {
    width: 56px;
}

input[type='radio'] {
    margin-left: 10px;
}

#btn_generate {
    width: 90%;
    background-color: blanchedalmond;
}

#rectangle{
    margin-left: 15px;
    padding-bottom: 1px;
    padding-right: 265px;
    background:rgb(203, 200, 199);
}

.indent {
    padding-left: 25px;
}

.indentSm {
    padding-left: 12px;
}

.title,
.page,
.ink {
    background-color: slategray;
    margin: 5px;
    padding: 5px;
}

.hide {
    display: none;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

/* slider coloring- */
input[type="range"] {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none;
}

#Ink1_Start {
    --slider-brightness: 90%;
}

#Ink1_Start::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--slider-brightness));
}

#Ink1_Start::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--scrollbar-background));
}

#Ink2_Start {
    --slider-brightness: 90%;
}

#Ink2_Start::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--slider-brightness));
}

#Ink2_Start::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--scrollbar-background));
}

#Ink3_Start {
    --slider-brightness: 90%;
}

#Ink3_Start::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--slider-brightness));
}

#Ink3_Start::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--scrollbar-background));
}

#Ink4_Start {
    --slider-brightness: 90%;
}

#Ink4_Start::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--slider-brightness));
}

#Ink4_Start::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--scrollbar-background));
}

#Ink5_Start {
    --slider-brightness: 100%;
}

#Ink5_Start::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--slider-brightness));
}

#Ink5_Start::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--scrollbar-background));
}

#Ink6_Start {
    --slider-brightness: 100%;
}

#Ink6_Start::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--slider-brightness));
}

#Ink6_Start::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(230, 230, 230);
    filter: brightness(var(--scrollbar-background));
}
/* -slider coloring end */

#output {
    position: absolute;
    top: 10px;
    left: 630px;
    height: 550px;
    text-align: center;
}

#output-preview {
    position: absolute;
    top: 50px;
    height: 525px;
    overflow: scroll;
}

.output-button {
    width: 200px;
}

.previewSave {
    position: relative;
    border: none;
    background-color: transparent;
}

.previewSave svg {
    pointer-events: none;
}

.previewSave span {
    font-size: 18pt;
    opacity: 0;
    position: absolute;
    left: 20px;
    top: 15px;
    background-color: gainsboro;
    padding: 0 6px 0 6px;
    border: 2px solid slategray;
    border-radius: .125in;
}

.previewSave:hover span {
    opacity: 100%;
}

/* hide CMYK charts */
.toPrint { display:none;}
@media print {
  .toPrint {display:inline;}
}

#print-content {
    padding: 0;
    margin: 0;
}

/* chart fonts */
.heavy {
    font: bold 0.2pt sans-serif;
}


/* charts to Print */
.grid-page {
    background-color: white;
    text-align: center;
}

.grid-container {
    margin-left: 0.25in;
}

.swatch {
    display: block;
    float:left;
    background-color: aqua;
}