body {
    background-color: lightslategray;
}

div {
    padding-top: 5px;
    padding-bottom: 6px;
}

span {
    padding-right: 16px;
}

main {
    width: 580px;
}

input[type='number'].two{
    width: 32px;
}

input[type='number'].three{
    width: 40px;
}

input[type='number'].four{
    width: 48px;
}

input[type='number'].five{
    width: 56px;
}

input[type='radio']{
    margin-left: 10px;
}

.indent {
    padding-left: 25px;
}

.title, .page, .swatch, .ink {
    background-color: slategray;
    margin: 5px;
    padding: 5px;
}

.hide {
    display:none;
}

.alignRight {
    text-align: right;
}